{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. * Create a button in `index.handlebars`
that will submit the user input into the database. --}}

<img src="assets/img/burger.png" alt="Burger" height="150" width="150">

<h1>Eat Lots of Burgers!</h1>
<div id="container">
    <ul class="notEaten">

        {{#each burger}}
        <li>{{id}} {{burger_name}}<button data-id="{{id}}" class="btn"> EAT ME</button></li>
        {{/each}}
    </ul>

    <ul class="eaten">
        {{#each eatenBurger}}
        <li>{{id}} {{burger_name}}</li>
        {{/each}}
    </ul>
    <div class="wrapper">
        <textarea name="Add a Burger" id="addBurger" cols="50" rows="4"></textarea>
        <button id="submit" type="submit">Add a Burger</button>
    </div>
</div>